<!DOCTYPE html>
<html>
  <head>
    <title>Nter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="header_top">Nter</h1>
        <% if user_signed_in? %>
            <div class="header_top user">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %> 
              <%= link_to "コメントする", "/tweets/new", class: "post" %> 
            </div>
        <% else %>
          <div  class="header_top user">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %> 
    </header>
    <%= yield %>
  </body>
</html>